* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #001;
  --misc-color: #eb3510;
  --main-border: 2px solid #001;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}
